@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
body {
  font-family: roboto;
  font-size: 18px;
}

.header-section {
  background-color: #1f2937;
  padding: 18px 0;
}
.content-wrapper {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}
.header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}
.header-list a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 300;
}
.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-text {
  display: flex;
  flex-direction: column;
  width: 450px;
}
.header-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 9px;
}
.header-text h2 {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
  font-weight: 300;
}
.header-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 9px 18px;
  width: 130px;
  border-style: none;
}

.information-section {
  padding: 100px 0;
  max-width: 70%;
  margin: 0 auto;
}

.information-title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}
.information-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.information-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding: 0 18px;
  gap: 9px;
  text-align: center;
  color: #1f2937;
}
.info-image {
  border: 4px solid #3882f6;
  border-radius: 10px;
  overflow: hidden;
}

.quote-section {
  background-color: #e5e7eb;
  padding: 100px 0;
}
.quote-wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}
.quote-author {
  font-size: 20px;
  font-weight: 700;
  color: #1f2937;
  text-align: right;
  margin-top: 9px;
}
