@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
body {
  font-family: roboto;
  font-size: 18px;
}

.header-section {
  background-color: #1f2937;
  padding: 18px 0;
}

.header-inner {
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}

ul a {
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 300;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  width: 450px;
}

.header-text h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 9px;
}
.header-text h2 {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
  margin-bottom: 9px;
  font-weight: 300;
}
.header-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 9px 18px;
  width: 130px;
  border-style: none;
}
.header-image {
  width: 500px;
  height: 250px;
  background-color: #e5e7eb;
}
